* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
::-webkit-scrollbar {
  width: 0;
}
html {
  background-color: #f1f3f6;
}
/* Navbar section css  */
.navbar {
  background-color: #2874f0;
  max-width: 100%;
  display: flex;
  flex-direction: row;

  align-items: center;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.nav_left {
  display: flex;
}
.nav_right {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: #2874f0;
}
.logo {
  display: flex;
  flex-direction: column;
  margin: 5px 0px;
  margin-top: 10px;
}
.flipkart_logo {
  height: 20.11px;
  width: 75px;
  margin-bottom: 0;
}
.logo a {
  text-decoration: none;
}
.explore {
  color: white;
  font: 11px;
  font-family: "Roboto", sans-serif;
  font-style: italic;
  margin-top: -1px;
}
.plus {
  color: #ffe500;

  font: 11px;
  font-style: italic;
  font-family: "Roboto";
  margin-top: -1px;
  margin-right: 5px;
}
.logo_text {
  margin-top: -5px;
  position: relative;
  top: -3px;
}
.logo_text img {
  width: 10px;
  height: 10px;
}
.searchbar {
  height: 56px;
  padding: 10px;
  margin: 0 0px;
  flex: 1;
  width: 564px;
  position: relative;
}
.search_input {
  padding: 0 16px;
  border-radius: 2px 0 0 2px;
  border: 0;
  outline: 0 none;
  font-size: 14px;
  height: 36px;
  width: 100%;
}
.fa-magnifying-glass{
  max-height: 36px;
  max-width: 36px;
  position: absolute;
  right: 3%;
  bottom: 25%;
  background-color: white;
  color: #2874f0;
  cursor: pointer;
}
.login {
  height: 56px;
  width: 130px;
  display: flex;
  align-items: center;
  align-self: center;
}
.loginbutton {
  width: 100%;
  height: 31px;
  font-size: 16px;
  font-family: "Roboto", sans-serif;
  color: #2874f0;
  outline: none;
  border: 2px solid white;
  background-color: white;
  cursor: pointer;
}
.nav-more{
  display: flex;
}
.more {
  height: 56px;
  width: 130px;
  color: white;
  font: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  align-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.more p{
  cursor: pointer;
}
.more:first-child{
  display: flex;
  flex-direction: row;
}
.fa-caret-down{
  cursor: pointer;
}
p {
  margin-bottom: 0rem;
}
.fa-sharp {
  margin: 5px;
  align-self: center;
}
.fa-solid {
  margin: 5px;
  align-self: center;
}
.fa-regular {
  margin: 5px;
  align-self: center;
}
.cart {
  height: 56px;
  width: 130px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  align-self: center;
  font: 16px;
  font-family: "Roboto", sans-serif;
  font-weight: bold;

}
.cart p{
  cursor: pointer;
}
.fa-cart-shopping{
  cursor: pointer;
}
/* Media Query for the Responsive Navbar */
@media screen and (max-width: 675px) {
  .searchbar {
    width: 70%;
  }
  .nav_right {
    width: 100%;
  }
}
@media screen and (max-width: 1050px) {
  .nav_right {
    width: 100%;
  }
}
@media screen and (max-width: 422px) {
  .login {
    width: 30%;
  }
  .more {
    width: 30%;
  }
  .cart {
    width: 30%;
  }
}
/* Categories Section */
.categories {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-gap: 2rem;
  place-items: center;
  max-width: 1280px;
  margin: 0 auto;
  margin-bottom: -25px;
  overflow-x: scroll;
  background-color: white;
}
.categories_items {
  width: 80px;
  height: 112.59px;
  margin-top: 5px;
  align-items: center;
  justify-content: center;
  text-align: center;
  grid-template-rows: (2, 1fr);
  grid-gap: 4px;
  cursor: pointer;
}
.categories_items:hover .categories_text{
  color: #2874f0;
}
.categories_text {
  font-size: 12px;
  font-family: "Roboto", sans-serif;
}

.categories_img {
  width: 64px;
  height: 64px;
}
.main_body {
  background-color: #f1f3f6;
}
/* Main Content of the Page */
.section {
  background-color: white;
  max-width: 90%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
.section_title {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  padding: 16px;
  padding-bottom: 5px;
  justify-content: space-between;
  font: 30px;
  font-family: "Roboto", sans-serif;
  border-bottom: 2px solid #f1f3f6;
}
.section-head {
  font-size: 29px;
  font-family: "Roboto", sans-serif;
}
.view_button {
  background-color: #2874f0;
  font-weight: bold;
  color: white;
  max-width: 120px;
  border-radius: 5px;
  font: 20px Arial;
  padding: 10px 20px;
  outline: none;
  border: none;
  margin: 10px 0;
  cursor: pointer;
}
.timer {
  font: 15px;
  margin: 0 15px;
  color: gray;
}
.fa-clock {
  color: black;
}
.items_grids {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  border-top: 2px solid #f1f3f6;
  margin: auto;
  overflow-x: scroll;
  max-width: 100%;
  align-self: start;
  background-color: white;
}
.item_box {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  padding: 10px;
  align-items: center;
  justify-content: center;
  margin: 10px;
  cursor: pointer;
}
.item_box:hover .item_img{
  transform:scale(1.1);
  transition: transform .2s ease-in-out;
}
.item_img {
  width: 200px;
  height: 200px;
  margin: 10%;
  object-fit: contain;
}
.item_title {
  font-size: 14px;
  font-weight: 500;
  font-family: "Roboto", sans-serif;
}
.item_price {
  font: 16px;
  font-family: "Roboto", sans-serif;
  color: #388e3c;
  margin: 5px 0;
}
.small-des {
  font-size: 14px;
  font-weight: 300;
  font-family: "Roboto", sans-serif;
  color: #212121;
  text-align: center;
}

.first_section {
  max-width: 90%;
  max-height: 486px;
  margin: auto;
  display: grid;
  grid-template-columns: 83% 17%;
}
.deal_of_the_day {
    max-width: 100%;
    max-height: 50%;
  }
/* Best of Electronics section css */
.advertisement {
  background-color: white;
  max-width: 100%;
  max-height: 79%;
  position: relative;
  margin-top: 10px;
  margin-left: 15px;
  display: flex;
  flex-direction: column;
}
.ad_banner_text {
  font-size: 36px;
  font-weight: 300px;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 22%;
  left: 18%;
}
.ad_button {
  position: absolute;
  bottom: 26%;
  left: 27%;
}
.advertisement img {
  position: absolute;
  bottom: 0;
  object-fit: contain;
  max-width: 100%;
}
/* Toys and More Css */
.toysandmore {
    width: 101px;
}


/* Media Queries of Main Content for Responsiveness */
@media screen and (max-width: 600px) {
  .item_img {
    max-height: 100px;
  }
}
@media screen and (max-width: 705px) {
    .section_title {
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  @media screen and (max-width: 488px) {
    .section_title {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media screen and (max-width: 487px) {
    .title_text {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }
  @media screen and (max-width: 1350px) {
    .first_section {
      display: grid;
      grid-template-columns: 100%;
    }
  
    .advertisement {
      display: none;
    }
    .deal_of_the_day {
      max-width: 100%;
    }
  }
/* dropdown menu Css*/
.dropmenu {
  /* overflow: hidden; */
}
.dropdowncontent {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  padding: 10px;
}

.dropdowncontent a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  position: relative;
  
}
.dropdowncontent a:hover {
  background-color:#f1f3f6;
  color: #2874f0;
  
}
.dropmenu:hover .dropdowncontent {
  display: block;
}
.dropmenu:hover .navdropdown{
  display: block;
}
.dropmenu:hover .categories_text{
  color: #2874f0;
}

.dropdown:hover .dropbutton {
  background-color: #3e8e41;
}

/* navbar dropdown */
.navdropdown{
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 178%;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 10;
  top: 53px;

}
.navdroplink{
  position: relative;
  display: flex;
  border-bottom: 1px solid #f1f3f6;
  padding: 0 5px;
}
.navdroplink:last-child{
  border-bottom: none;
}
.first-navdroplink::before{
  content: '';
  position: absolute;
  width: 15px;
  background-color: #f9f9f9;
  height: 15px;
  top: -25px;
  left: 50%;
  transform: translate(-50%, 133%) rotate(45deg);
}
.navdropdown a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
  position: relative;
  font-weight: normal;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  
}
.navdroplink:hover{
  background-color: #f1f3f6;
}
.fa-bell{
  color: #2874f0;
}
.fa-phone-volume{
  height: 16px;
  width: 14px;
  color: #2874f0;
}
.fa-arrow-trend-down{
  color: #2874f0;
}
.fa-download{
  color: #2874f0;
}
/* owl carausel CSS */
.owl-stage-outer {
  margin-bottom: 100px;
}
.owl-carousel .owl-stage {
  background-color: white;
  margin-bottom: 10px;
}
.owl-carousel .owl-nav button.owl-next {
  width: 3%;
  min-width: 15px;
  height: 25%;
  font-size: 50px;
  background-color: white;
  color: black;
  position: absolute;
  top: 20%;
  right: 0;
  box-shadow: "1px 2px 10px -1px rgba(0,0,0,.3)";
  pointer-events: auto;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  background-color: hsla(0, 0%, 100%, 0.98);
  cursor: pointer;
  border: none;
}
.owl-carousel .owl-nav button.owl-prev {
  width: 3%;
  min-width: 15px;
  height: 25%;
  font-size: 50px;
  background-color: white;
  color: black;
  position: absolute;
  top: 20%;
  left: 0;
  box-shadow: "1px 2px 10px -1px rgba(0,0,0,.3)";
  pointer-events: auto;
  box-shadow: 1px 2px 10px -1px rgba(0, 0, 0, 0.3);
  background-color: hsla(0, 0%, 100%, 0.98);
  cursor: pointer;
  border: none;
}
.owl-carousel .owl-nav button.owl-prev:hover {
  background-color: white;
  color: #212121;
}

.owl-carousel .owl-nav button.owl-next:hover {
  background-color: white;
  color: black;
}
.owl-prev:focus{
   outline: none;
}
.owl-next:focus{
  outline: none;
}
@media screen and (max-width:1100px) {
  .dropdowncontent{
    display: none !important;
  }
}
